/* -----------------------Header của bảng-------------------- */
.employee-content {
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: #f4f5f6;
}
.employee-header {
  display: flex;
  justify-content: space-between;
  height: 93px;
  align-items: center;
}
.employee-header-title {
  font-size: 24px;
  font-weight: 700;
  font-family: notosans-bold;
}
/* -----------------------------Tìm kiếm refresh lại bảng---------------- */
.grid-bar-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 16px 10px 16px;
}
.icon-refresh-data {
  background-position: -1098px -90px;
  width: 20px;
  height: 21px;
  margin-left: 10px;
  cursor: pointer;
}
.input-search-list {
  width: 250px;
}
.input-search-list input {
  padding-left: 16px;
  padding-right: 30px;
}
.icon-search-input {
  background: url("../../../assets/Imgs/Sprites.64af8f61.svg");
  background-repeat: no-repeat;
  background-position: -992px -360px;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 80px;
  top: 116px;
  cursor: pointer;
}
/* -------------------------------Phần thân bảng -------------------------------*/
.grid-content-table{
  background-color: #fff;
}
.grid-table {
    margin-left: 16px;
    margin-right: 30px;
    overflow:auto ;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 46px;
    top:160px;
    left: 0;
}
.table-employee {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
table thead tr th {
  background: #eceef1;
  border-right: 1px solid #bbb;
  /* border-bottom: 1px solid #bbb; */
  height: 34px;
}
table tbody{
    overflow-y:auto ;
    overflow-x: auto;
    height: 100vh;
}
table tbody tr {
    border-bottom: 1px solid #bbb;
    height: 50px;
}

table tbody tr td{
    border-right: 1px dotted #bbb;
}
thead th{
  position: sticky;
  top: 0;
}
.sticky-function-th{
  min-width: 150px;
  position: sticky;
  right: 0;
  background: #eceef1;
  
}
.sticky-function-table{
  background: #fff;
  height: 34px;
  border-right: none;
}
.border-right-checkbox{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-right: 1px dotted #bbb;
}
.border-left-checkbox{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 1px dotted #bbb;
}
.check-box-sticky{
  position: sticky;
  left: 0;
  border-right: none;
}
.border-bottom-tr{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #bbb;
}
/* ------------------------------Footer của bảng----------------------------- */
.table-footer{
    height: 46px;
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}