.navbar{
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    height: calc(100% - 48px);
    width: 178px;
    z-index: 100000;
    margin-bottom: 20px;
    font-family: notosans-semibold;
}
.logo-navbar{
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    width: 178px;
    background-color: #38393d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-navbar{
    position: absolute;
    top: 48px;
    left: 0;
    height: calc(100vh - 48px);
    width: 178px;
    background-color: #38393d;
    padding-top: 16px;
    overflow-y:auto;
}
.navbar-toggle{
    background: url('../../assets/Imgs/Sprites.64af8f61.svg') no-repeat ;
    background-position: -428px -92px;
    width: 20px;
    height: 20px;
    color: #fff;
    size: 150%;
    margin-right: 10px;
}
.navbar-logo-text{
    height: 48px;
}
.logo{
    height: 48px;
    width: 96px;
}
.menu-navbar a{
    color: #fff;
    text-decoration: none;
}
.navbar-item-text{
    color: #fff;
}
.navbar-item{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 48px;
    padding-left: 15px;
    border-left: 5px solid transparent;
    cursor: pointer;
}
.navbar-item:hover{
    background: #454545;
    color: #fff;
}
.navbar-item:focus{
    border-left: 5px solid #2ca01c;
}